<div class="text-center mb-4">
  <h1>Flights#index</h1>
  <p>Find me in app/views/flights/index.html.erb</p>
</div>
<%= render 'search'%>
<% if @flights.present? %>
  <div class="card mb-5">
    <div class="card-body">
      <h2 class="card-title text-center">Flight Search Results</h2>
      <p class="card-text text-center">
        From: <%= @search_details[:from] %> |
        To: <%= @search_details[:to] %> |
        Date: <%= @search_details[:date].to_date.strftime('%B %d, %Y') %> |
        Passengers: <%= @search_details[:passengers] %></p>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>Flight</th>
          <th>Departure</th>
          <th>Flight Time</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @flights %>
      </tbody>
    </table>
  </div>
<% elsif @flights.count <= 0 %>
  <%= render 'no_flights' %>
<% end %>
