<%= form_with model: @booking, class: "card p-4 mb-4" do |f| %>
  <h5 class="mb-3">Passenger Information</h5>
  <div class="table-responsive mb-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Passenger</th>
          <th>Full Name</th>
          <th>Date of Birth</th>
          <th>Passport Number</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :passengers do |passenger| %>
          <tr>
            <td>
              <%=  "Passenger #{passenger.index + 1}" %>
            </td>
            <td>
              <%=  passenger.text_field :full_name, class: "form-control", required: true %>
            </td>
            <td>
              <%=  passenger.date_field :date_of_birth, class: "form-control", required: true %>
            </td>
            <td>
              <%=  passenger.number_field :passport_number, class: "form-control", required: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <h5 class="mb-3">Contact Information</h5>
  <div class="mb-3">
    <%= f.label :email_address, class: "form-label"%>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :phone, class: "form-label"%>
    <%= f.telephone_field :phone, class: "form-control", required: true %>
  </div>
  <div class="d-grid gap-2">
    <%= hidden_field_tag :flight_id, params[:flight_id] %>
    <%= f.submit class: "btn btn-primary btn-lg"%>
  </div>
<% end %>
